@use "../helpers/" as *;

.footer {
  border-top: var(--border);
  padding-top: rem(30);
  height: rem(200);
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: var(--color-dark-10);

  &__info {
    display: flex;
    justify-content: space-between;
    column-gap: fluid(500, 200);

    @include laptop {
      flex-direction: column;
      align-items: center;
      row-gap: rem(50);
      padding-bottom: rem(50);
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(10);
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }

  &__social::before {
    content: "";
    display: inline-block;
    height: rem(50);
    width: rem(50);
  }

  .telegram::before {
    background-image: url("../../icons/telegram.svg");
  }

  .gmail::before {
    background-image: url("../../icons/gmail.svg");
  }
}
