@use "../helpers/" as *;

.sales {
    padding-block: rem(50);

    &__title {
        @include mobile-s {
            text-align: center;
        }
    }

    &__list {
        padding-block: fluid(100, 20);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(30);
        column-gap: rem(30);

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}